{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

{% if newaccounts %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">New Accounts Found</h3>
  </div>
  <div class="panel-body">
    <p>New accounts have been found and automatically created. Finish configuring them here.
    <div class="panel panel-success">
    {% for account in newaccounts %}
    <div class="panel-heading">
      <h3 class="panel-title">{{account.sortcode.value}} - {{account.account.value}}</h3>
    </div>
    <div class="panel-body" id="account-body-{{account.instance.id}}">
      <form id="newaccount-{{account.instance.id}}" action="{{ request.path }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{account.modelid}}
        <div class="input-group">
          <span class="input-group-addon">{{account.name.label}}</span>
          {{account.name}}
        </div>
        <div class="input-group">
          <span class="input-group-addon">{{account.accounttype.label}}</span>
          {{account.accounttype}}
        </div>
        <div class="input-group">
          <span class="input-group-addon">{{account.currency.label}}</span>
          {{account.currency}}
        </div>
        <input type="submit" value="Save & Close"/>
      </form>
    </div>
    {% endfor %}
    </div>
  </div>
</div>
{% endif %}
<h2>Upload Complete</h2>

{% if skippedtransactions %}
<h3>Skipped Transactions</h3>
The following transactions were already found and therefore skipped:
<table>
{% for trans in skippedtransactions %}
<tr><td>{{trans}}</td></tr>
{% endfor %}
</table>
{% endif %}

{% if newtransactions %}
<h3>New Transactions</h3>
The following transactions were found and addd
<table>
{% for trans in newtransactions %}
<tr><td>{{trans}}</td></tr>
{% endfor %}
</table>
{% endif %}

{{output}}

{% endblock %}

{% block scripts %}
  <script src="{% static "js/jquery.form.js"%}"></script>
  <script src="{% static "js/upload.js"%}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var options = {
        beforeSubmit:  submitNewAccount,  // pre-submit callback
      };
      {% for account in newaccounts %}
      $('#newaccount-{{account.instance.id}}').ajaxForm(options);
      {% endfor %}
    });
  </script>
{% endblock %}
